@use "sass:map";
@use "sass:math";
@use "~@angular/material" as mat;
@import "/src/palettes.scss";

$default-section-margin-vertical: 60px;
$default-section-margin-horizontal: 72px;

$default-component-margin-vertical: 16px;
$default-component-margin-horizontal: 32px;

$max-width: 1300px;
$nebel: map.get($rki-nebel, 400);

:host {
    display: block;
    flex: 1;
    max-width: 100%;
}

.title-date-container {
    display: flex;
    flex-direction: row;

    .title {
        flex: 1;
    }

    .date {
        flex: 0 0 auto;
    }
}

@mixin home-page-component($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, "primary");
    $accent-palette: map.get($color-config, "accent");

    .home-page {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .rki-logo-container {
            display: flex;
            justify-content: center;

            .rki-logo {
                background-image: url("../../../assets/RKI_Logo.png");
                background-repeat: no-repeat;
                background-size: contain;
                height: 75px;
                width: 255px;
                margin: 25px 0;
            }
        }

        .header {
            background: mat.get-color-from-palette($primary-palette);
            width: 100%;
            display: flex;
            justify-content: center;

            .header-image-background {
                background: mat.get-color-from-palette($primary-palette);
                padding: 90px $default-section-margin-horizontal;
                color: white;
                background-image: url("../../../assets/header_background.png");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                max-width: $max-width;
                box-sizing: border-box;

                .title-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap-reverse;

                    .title {
                        flex: 1;
                        // min-width: 550px;

                        font: 800 45px / 48px Roboto, "Helvetica Neue", sans-serif;
                        letter-spacing: -0.005em;
                        margin-bottom: 16px;
                    }
                    .licence-small {
                        flex: 0 0 auto;
                    }
                }

                .author-container {
                    margin-bottom: 24px;
                }
            }
        }

        .abstract-tag-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $default-component-margin-horizontal;

            max-width: $max-width;
            padding: $default-section-margin-vertical $default-section-margin-horizontal;
            box-sizing: border-box;

            .abstract {
                color: mat.get-color-from-palette($accent-palette);
                text-align: justify;
            }

            app-datasource-tags {
                .mat-title {
                    line-height: 48px;
                }
            }

            .left-column {
                flex: 68;
            }

            .right-column {
                flex: 32;
            }
        }

        .content-cite-licence-container {
            width: 100%;
            background-color: $nebel;
            padding: $default-section-margin-vertical 0;
            display: flex;
            justify-content: center;

            .date {
                margin-top: -16px;
                margin-bottom: $default-component-margin-vertical;
            }

            app-datasource-links {
                margin-bottom: $default-component-margin-vertical;
            }

            app-datasource-licence {
                margin-bottom: $default-component-margin-vertical;
            }

            app-datasource-cite {
                margin-bottom: $default-component-margin-vertical;
            }

            .row {
                box-sizing: border-box;
                width: 100%;
                max-width: $max-width;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                gap: $default-component-margin-horizontal;
                padding: 0 $default-section-margin-horizontal;

                .left-column {
                    min-width: 260px;

                    flex: 1 1 calc(25% - #{$default-component-margin-horizontal * 0.25});

                    display: flex;
                    flex-direction: column;
                }
               
                .right-column {
                    width: 100%;
                    flex: 1 1 calc(75% - #{$default-component-margin-horizontal * 0.75});
                    
                    @media (min-width: 1235px) {
                        max-width: calc(75% - #{$default-component-margin-horizontal * 0.75});
                    }
                }
            }
        }

        .doc-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            max-width: $max-width;
            padding: $default-section-margin-vertical $default-section-margin-horizontal;
            box-sizing: border-box;
            gap: $default-component-margin-horizontal;

            &.small {
                flex-wrap: wrap;
                gap: unset;
                .left-column {
                    display: none;
                }
            }

            .left-column {
                flex: 1 1 calc(25% - #{$default-component-margin-horizontal * 0.25});
            }

            .right-column {
                flex: 1 1 calc(75% - #{$default-component-margin-horizontal * 0.75});
                width: 100%;
                overflow: hidden;
            }
        }

        app-datasource-licence .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
            background-color: mat.get-color-from-palette($primary-palette, "default-contrast");
            color: mat.get-color-from-palette($primary-palette);
        }
    }
}
