<div class="home-page" [class.small]="isSmall$ | async">

    <div class="header">
        <div class="header-image-background">
            <div class="title-container">
                <div class="title">
                    {{datasource.name}}
                </div>
            </div>

            <div class="author-container">
                <app-datasource-contributor-list [authors]="datasource.authors"></app-datasource-contributor-list>
            </div>

            <div class="contributor-container">
                <app-datasource-contributor-list [contributors]="datasource.contributors">
                </app-datasource-contributor-list>
            </div>
        </div>

    </div>

    <div class="abstract-tag-container">
        <div class="left-column">
            <div class="abstract-container">
                <div class="mat-headline">Zusammenfassung</div>
                <div class="abstract" [innerHtml]="datasource.description | safeHtml"> </div>
            </div>
        </div>
        <div class="right-column">
            <app-datasource-tags [datasource]="datasource"></app-datasource-tags>
        </div>
    </div>

    <div class="content-cite-licence-container">
        <div class="row">
            <div class="left-column">
                <div class="mat-headline">Daten</div>
                <div class="date">Datenstand: {{datasource.lastUpdated | date}}</div>
                <app-datasource-links [datasource]="datasource"></app-datasource-links>
                <div class="filler"></div>
                <app-datasource-licence [datasource]="datasource" mode="large"></app-datasource-licence>
                <app-datasource-cite [datasource]="datasource"></app-datasource-cite>
            </div>
            <div class="right-column">
                <app-datasource-content-list [datasource]="datasource"></app-datasource-content-list>
            </div>
        </div>
    </div>

    <div class="doc-container">
        <div class="left-column">
            <app-keep-in-view [topOffset]="116">
                <div class="mat-headline">Dokumentation</div>

                <app-table-of-content [datasource]="datasource">
                </app-table-of-content>
            </app-keep-in-view>
        </div>
        <div class="right-column">
            <app-datasource-readme [readme]="datasource.readme" class="markdown-preview"></app-datasource-readme>
        </div>
    </div>

</div>
