<div class="datasource-licence" *ngIf="datasource">
    <mat-chip-list *ngIf="mode === 'small'; else largeLicence">
        <mat-chip color="primary" selected class="licence-chip">
            <a class="licence-link" [href]="licenceUrl" target="_blank">{{datasource.licence}}</a>
        </mat-chip>
    </mat-chip-list>
</div>

<ng-template #largeLicence>
    <div class="mat-subheading-2" id="licence">Lizenz</div>
    <div class="licence-large">
        <a *ngIf="datasource && datasource.licence === 'CC-BY-4.0'" [href]="licenceUrl" target="_blank">
            <!-- <img class="licence-logo" [src]="'/assets/cc-by-4-0-icon.png' | baseHref" /> -->
            <div class="licence-name">Creative Commons Namensnennung 4.0 International</div>
        </a>
    </div>
</ng-template>