<div class="datasource-content-preview-component mat-elevation-z9" *ngIf="content && content.$type === 'file'">
  <mat-toolbar class="header" color="accent">
    <span class="title">
      <mat-icon class="icon"> {{content | datasourceContentExt | extToIconname}} </mat-icon>
      <span class="text" [title]="content.name">{{content.name}}</span>
      <span class="lfs" *ngIf="content.lfs">LFS</span>
    </span>

    <a mat-button class="source-button" [href]="content.visitUrl" target="_blank">
      Quelle ansehen
    </a>
    <a mat-button class="download-button" (click)="startDownload(content)">
      <mat-icon>file_download</mat-icon>
      Download
    </a>
    <button mat-icon-button class="close-button" (click)="doClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="preview-container">
    <div class="lfs-info-container no-preview-available" *ngIf="content.lfs">
      <div class="title mat-headline">
        <div class="text">Die Vorschau für LFS-Dateien ist leider nicht möglich</div>
        <mat-icon class="icon sad-face">sentiment_very_dissatisfied</mat-icon>
      </div>
      <p class="hint mat-hint">
        Bei der Datei <b><i>{{content.name}}</i></b> handelt es sich um eine <a href="https://git-lfs.github.com/"
          target="_blank">Large File System (LFS)</a> Datei und kann
        leider
        nicht in der Vorschau angezeigt werden, da diese Datei eventuell sehr groß ist und zum anzeigen komplett
        heruntergeladen werden muss.
      </p>
      <p class="visit-link mat-hint">
        Sie können sich die Daten in einem seperaten Tab ansehen, indem Sie auf diesen <a [href]="content.visitUrl"
          target="_blank">Link</a> klicken.
      </p>
    </div>

    <ng-container *ngIf="!content.lfs">
      <ng-container *ngIf="contentPathExt && content.$type === 'file'" [ngSwitch]="contentPathExt">
        <ng-container *ngSwitchCase="'md'">
          <app-markdown-preview [baseUrl]="baseUrl" [url]="content.previewUrl"></app-markdown-preview>
        </ng-container>
        <ng-container *ngSwitchCase="'pdf'">
          <app-pdf-preview [pdfSrc]="content.previewUrl"></app-pdf-preview>
        </ng-container>
        <ng-container *ngSwitchCase="'csv'">
          <app-csv-table [csvUrl]="content.previewUrl" [isLfs]="content.lfs" [fileName]="content.name"></app-csv-table>
        </ng-container>
        <ng-container *ngSwitchCase="'jpg'">
          <app-image-preview [imgUrl]="content.previewUrl"></app-image-preview>
        </ng-container>
        <ng-container *ngSwitchCase="'jpeg'">
          <app-image-preview [imgUrl]="content.previewUrl"></app-image-preview>
        </ng-container>
        <ng-container *ngSwitchCase="'png'">
          <app-image-preview [imgUrl]="content.previewUrl"></app-image-preview>
        </ng-container>
        <div *ngSwitchDefault class="no-preview-available">
          <div class="title mat-headline">
            <div class="text">Vorschau leider nicht möglich</div>
            <mat-icon class="icon sad-face">sentiment_very_dissatisfied</mat-icon>
          </div>
          <p class="hint mat-hint">
            Die Datei <b><i>{{content.name}}</i></b> kann nicht angezeigt werden, da für die Endung
            <b><i>{{contentPathExt}}</i></b> keine geeignete Vorschau verfügbar ist.
          </p>
          <p class="visit-link mat-hint">
            Sie können sich die Daten in einem seperaten Tab ansehen, indem Sie auf diesen <a [href]="content.visitUrl"
              target="_blank">Link</a> klicken.
          </p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>