<div class="tree-container">
    <mat-tree [dataSource]="treeDatasource" [treeControl]="treeControl" class="content-tree" [trackBy]="trackBy">
        <mat-tree-node *matTreeNodeDef="let file" matTreeNodeToggle>
            <div class="tree-item file-tree-item">
                <div class="tree-item-content">
                    <div class="icon-wrapper" (click)="showPreview(file)">
                        <mat-icon> {{file.name | datasourceContentExt | extToIconname}} </mat-icon>
                    </div>

                    <span class="file-name file-item-element" [title]="file.name" (click)="showPreview(file)">{{file.name | filenameBeautify}}</span>

                    <!-- <span *ngIf="file.lfs" class="file-lfs-mark file-item-element" (click)="showPreview(file)">LFS</span> -->
                    <div class="file-extention file-item-element" (click)="showPreview(file)">
                        {{file.name | datasourceContentExt | uppercase }}
                    </div>

                    <div class="file-size file-item-element" [title]="file.size | fileSize">
                        {{file.size | fileSize}}
                    </div>

                    <a mat-raised-button color="accent" class="file-download" (click)="startDownload(file)" download>
                        <!-- <mat-icon>file_download</mat-icon> -->
                        Download
                    </a>
                </div>
                <div class="tree-item-divider">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="tree-item folder-tree-item">
                <div class="tree-item-content" (click)="treeControl.toggle(node)">
                    <div class="icon-wrapper">
                        <mat-icon> {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}} </mat-icon>
                    </div>

                    <span class="folder-name" 
                        [title]="node.name">{{node.name}}</span>
                </div>

                <div class="tree-item-divider">
                    <mat-divider></mat-divider>
                </div>

                <div class="tree-item-childs" [class.invisible]="!treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
</div>
<!-- <mat-list *ngIf="datasourceContent">
    <mat-list-item *ngFor="let file of datasourceContent; trackBy:trackByPath">
        <mat-icon mat-list-icon *ngIf="file.$type === 'file'">note</mat-icon>
        <mat-icon mat-list-icon *ngIf="file.$type === 'folder'">folder</mat-icon>

        <div mat-line>
            <ng-container *ngTemplateOutlet="fileTemplate;context: {$implicit: file} "></ng-container>
        </div>
    </mat-list-item>
</mat-list>


<ng-template #fileTemplate let-file>
    <div class="file-item">
        <span *ngIf="file.lfs" style="color: teal;">LFS&nbsp;</span>
        <span class="file-name clickable-span" (click)="showPreview(file)" [title]="file.path">{{file.path}}</span>
        <div class="horizontal-spacer"></div>
        <a mat-button [href]="file.downloadUrl" download>
            <mat-icon>file_download</mat-icon>
            Download
        </a>
    </div>
</ng-template> -->