<div class="imprint-page" [class.small]="isSmall$ | async">
    <h1 class="mat-headline">Impressum</h1>
    <a class="nav-to-root" routerLink="/">zurück zum Datensatz</a>

    <h2 class="mat-title">Herausgeber</h2>

    <address>
        <strong>Robert Koch-Institut</strong><br>
        Nordufer 20<br>
        13353 Berlin
    </address>

    <p>Vertreten durch den Präsidenten</p>

    <p>
        <strong>Verantwortlich <abbr title="im Sinne des">i.S.d.</abbr> Medienstaatsvertrags</strong><br>
        Ronja Wenchel, Pressestelle <abbr title="Robert Koch-Institut">RKI</abbr>
    </p>

    <p>
        <strong>Internet-Team der Pressestelle</strong><br>
        Ronja Wenchel | Ansprechpartnerin
    </p>

    <p>
        <strong>Kontakt</strong><br>
        E-Mail: <a href="mailto:webmaster@rki.de" title="E-Mail: webmaster@rki.de"><span>webmaster@rki.de</span></a><br>
        Telefon: 030 18754 0 (Zentrale)
    </p>

    <p>
        <strong>Umsatzsteueridentifikationsnummer</strong><br>
        DE 165 893 430
    </p>

    <p>
        <strong>Hosting</strong><br>
        Github<br>
        <a href="https://www.github.com" target="_blank" rel="noopener noreferrer"
            title="Externer&nbsp;Link&nbsp;Github&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">www.github.com</a>
    </p>

    <p>
        <strong>Realisierung</strong><br>
        <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MFI/MF4/mf4_node.html" target="_blank"
            rel="noopener noreferrer" title="Externer&nbsp;Link&nbsp;MF&nbsp;4&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">
            MF 4 - Forschungsdatenmanagement
        </a>
    </p>

    <p>
        <strong>Konzeption, Design, Frontend-Programmierung</strong><br>
        <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MFI/MF4/mf4_node.html" target="_blank"
            rel="noopener noreferrer" title="Externer&nbsp;Link&nbsp;MF&nbsp;4&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">
            MF 4 - Forschungsdatenmanagement
        </a>
    </p>

    <h2 class="mat-title">Haftungsausschluss</h2>

    <p>
        Die Inhalte, die über die Internetseiten des Robert Koch-Instituts zur Verfügung gestellt werden, dienen
        ausschließlich der allgemeinen Information der Öffentlichkeit, vorrangig der Fachöffentlichkeit.
    </p>

    <p>
        Das Robert Koch-Institut übernimmt keine Verantwortung für die Richtigkeit und Vollständigkeit der
        Informationen, für Abweichungen der Programminhalte von Originaltexten, Übertragungsfehler von
        Schriftstücken und Irrtümer bei Dokumenten, die für die Internetseiten erstellt wurden, sowie unbefugte
        Veränderung der Angaben auf dem Server durch Dritte.
    </p>

    <p>
        Die Inhalte dieser Internetseiten dienen nicht der Erteilung medizinischer oder anderer Ratschläge oder
        Anweisungen in Bezug auf Arzneimittel oder bestimmten Therapien. Die Informationen stellen keine
        Alternative zur Beratung durch einen Arzt oder Apotheker dar. Wer Rat zu spezifischen
        Gesundheitsproblemen benötigt, wendet sich bitte ausschließlich an den Arzt.
    </p>

    <p>
        Soweit die Angaben Schriftstücken entnommen wurden, ersetzen sie diese nicht. Für verbindliche Angaben
        sollte auf die Schriftstücke selbst zurückgegriffen werden. Gesetze und Verordnungen sind nur gültig und
        finden Anwendung entsprechend ihrer jeweils aktuellen Fassung, die im einschlägigen amtlichen
        Verkündungsorgan (insbesondere Bundesgesetzblatt und Bundesanzeiger) veröffentlicht ist.
    </p>

    <p>
        Die Nennung von Produkten und/oder Verfahren bedeutet keine Empfehlung oder Aussage zu deren Qualität und
        begründet daher keine diesbezügliche Haftung.
    </p>

    <p>
        Die Veränderung von Daten auf dem Web-Server des Robert Koch-Instituts durch Dritte ist strengstens untersagt
        und wird vom Robert Koch-Institut rechtlich verfolgt.
    </p>

    <p>
        Die Bildschirmdarstellung der vorliegenden Inhalte kann durch unterschiedliche Browser- und
        Betriebssystemeinstellungen variieren. Bedingt durch die Übertragung und Darstellung der Daten kann es zu
        Abweichungen gegenüber den zugrundeliegenden Veröffentlichungen kommen.
    </p>

    <p>
        Über die auf den Internetseiten des Robert Koch-Instituts vorhandenen Links verlassen Sie das Angebot des
        Robert Koch-Instituts. Das Robert Koch-Institut macht sich die Inhalte dieser Seiten ausdrücklich nicht
        zu eigen und übernimmt für deren Inhalte keine Gewährleistung.
    </p>

    <h2 class="mat-title">Copyright</h2>

    <p>
        Die Internetseiten sind Eigentum des Robert Koch-Instituts. Die Verwendung, Vervielfältigung,
        Weiterverbreitung, Übersetzung, Mikroverfilmung, Einspeicherung und Verarbeitung in elektronischen
        Systemen zu kommerziellen Zwecken oder sonstige Verwertung ist nur im Rahmen der geltenden rechtlichen
        Vorschriften, insbesondere des Urheberrechtsgesetzes, zulässig.
    </p>

    <p>
        Print-Zeitschriften, die vollständig oder in Auszügen im Internet stehen (Epidemiologisches Bulletin <abbr
            title="beziehungsweise">bzw.</abbr> Bundesgesundheitsblatt), dürfen nicht ohne schriftliche Genehmigung auf
        elektronischem Weg weiterverbreitet werden.
    </p>

    <div class="dateOfIssue">
        <p>Stand: 17.11.2020</p>
    </div>

</div>