@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/palettes.scss';
@import '/src/constants.scss';

@mixin app-component($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $nebel: map.get($rki-nebel, 400);

    .app-component {
        max-width: 100%;



        .app-content {
            display: flex;
            max-width: 100%;
            // min-height: calc(100vh - 56px);
        }

        // footer {
        //     display: flex;
        //     justify-content: center;

        //     background-color: $nebel;
        //     max-width: 100%;

        //     .footer-wrapper {
        //         display: flex;
        //         max-width: $max-width;
        //         gap: 16px;
        //         flex: 1;

        //         padding: $default-component-margin-vertical $default-section-margin-horizontal;
        //     }
        // }
    }

    // .app-component.small {
    //     footer {
    //         .footer-wrapper {
    //             padding: $default-small-component-margin-vertical $default-small-section-margin-horizontal;
    //         }
    //     }
    // }
}
