@use 'sass:map';
@use '@angular/material' as mat;

:host {
    display: block;
    height: 100%;
    width: 100%;
  }

@mixin image-preview-component($theme) {
    $color-config: mat.get-color-config($theme);
    $is-dark: map.get($color-config, "is-dark");

    .image-preview-component-container {
        min-height: 500px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 100%;

        .image-container {
            display: flex;
            align-items: center;
            padding: 20px;

            .image-preview {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}
