<div class="cite-comp-container">
    <div class="title-row">
        <div class="mat-subheading-2" id="cite">Zitieren </div>
        <!-- <div class="filler"></div> -->
        <button mat-icon-button class="copy-button subheading-2-fontsize" #btnTooltip="matTooltip" [matTooltip]="tooltipMessage"
            matTooltipDisabled [cdkCopyToClipboard]="citeString" (cdkCopyToClipboardCopied)="showTooltip(btnTooltip)">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>

    <p class="cite-string" #stringTooltip="matTooltip" [matTooltip]="tooltipMessage" matTooltipDisabled
        [cdkCopyToClipboard]="citeString" (cdkCopyToClipboardCopied)="showTooltip(stringTooltip)">{{ citeString }}</p>
</div>