@use 'sass:map';
@use '@angular/material' as mat;
@import "./../../../github-markdown.scss";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

@mixin markdown-preview-component($theme) {
  $color-config: mat.get-color-config($theme);
  $is-dark: map.get($color-config, "is-dark");

  

  .root-container {
    min-height: 500px;
    display: flex;
    align-items: center;

    @if $is-dark {
      @include github-dark-markdown-theme();
    } @else {
      @include github-light-markdown-theme();
    }

    .markdown-body {
      box-sizing: border-box;
      
      min-width: 200px;
      max-width: 100%;
      width: 100%;

      height: 100%;
      max-height: 100%;

      overflow: auto;

      padding: 24px 16px;

      
    }
  }

  // @media (max-width: 767px) {
  //   .markdown-body {
  //     padding: 15px;
  //   }
  // }

  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  // }

  // .markdown-body.loaded {
  //   max-width: 100%;
  //   margin: 0;
  // }
}
