
<cdk-tree [dataSource]="treeDataSource" [treeControl]="treeControl" class="toc">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-nested-tree-node #tocItem *cdkTreeNodeDef="let node" class="toc-item" [class.active]="node.active">
        <div class="active-indicator"></div>
        <div class="link-container">
            <a pageScroll [href]="'#' + node.fragment" class="toc-item-link">{{node.label}}</a>
        </div>
    </cdk-nested-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <cdk-nested-tree-node #tocItem *cdkTreeNodeDef="let node; when: hasChild" class="toc-item"
        [class.active]="node.active">
        <div class="active-indicator"></div>
        <div class="link-container">
            <a pageScroll [href]="'#' + node.fragment" class="toc-item-link">{{node.label}}</a>
        </div>
        <div class="flex-break"></div>
        <div class="child-container" [class.tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
    </cdk-nested-tree-node>
</cdk-tree>
