@mixin datasource-links-component($theme) {
    $color-config: mat.get-color-config($theme);
    $accent-palette: map.get($color-config, "accent");

    .datasource-link-component.link-container {
        // $img-width: 117px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        gap: 16px;

        // flex: 1;
        // max-width: $img-width * 2;
        // justify-content: flex-end;

        // .link-wrapper {

        // }

        .link-wrapper {
            display: flex;
            justify-content: center;

            flex: 1;
            background-color: mat.get-color-from-palette($accent-palette);
            padding: 0.75em;
        }

        .link,
        .external-link {
            height: 48px;
            width: 117px;
        }

        .link-logo {
            width: 100%;
            height: 100%;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .github-link {
            // width: 117px;
            // background-size: 32px 32px;
            // @if $is-dark {
            background-image: url("../../../assets/github_logo_white.png");
            // } @else {
            // background-image: url("../../../assets/github_logo_black.png");
            // }
        }

        .zenodo-link {
            // @if $is-dark {
            background-image: url("../../../assets/zenodo_logo_white.svg");
            // } @else {
            // background-image: url("../../../assets/zenodo_logo.svg");
            // }
        }
    }
}
