:host {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    max-width: 100%;

    .loading-indicator {
        max-width: 100%;
    }

    .lfs-indicator {
        margin-top: 2em;
    }
}

table {
    width: 100%;
}

.lfs-cell {
    background-color: teal;
}

.table-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    // overflow: auto;
    // flex: 1;

    // box-sizing: border-box;
    // border: 1px solid black;
}

.header-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .title {
        flex: 1;
        font-size: 14px;
    }

    .filter {
        flex: 0 0 auto;
    }
}

th.mat-header-cell,
td.mat-cell {
    // , td.mat-footer-cell
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    white-space: nowrap;

    border-right: 1px solid rgba(0, 0, 0, 0.12);

    // border: 1px solid black;

    &:last-of-type {
        border-right: none;
    }
}

tr.mat-row {
    // , tr.mat-footer-row
    height: 32px;
}

.filter-form-field {
    width: 100%;
}

.footer {
    text-align: right;
}
// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//     display: inline-flex;
//     min-width: 100%;
// }
