$default-section-margin-vertical: 60px;
$default-section-margin-horizontal: 72px;

$default-component-margin-vertical: 16px;
$default-component-margin-horizontal: 32px;

$default-small-section-margin-vertical: 30px;
$default-small-section-margin-horizontal: 36px;

$default-small-component-margin-vertical: 8px;
$default-small-component-margin-horizontal: 16px;

$max-width: 1300px;