$md-royalblue: (
  50: #e0ecf7,
  100: #b3ceea,
  200: #80aedc,
  300: #4d8ece,
  400: #2675c4,
  500: #005db9,
  600: #0055b2,
  700: #004baa,
  800: #0041a2,
  900: #003093,
  A100: #beceff,
  A200: #8ba8ff,
  A400: #5881ff,
  A700: #3f6eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-marine: (
  50: #e1e5ea,
  100: #b3bfc9,
  200: #8194a6,
  300: #4f6982,
  400: #294867,
  500: #03284c,
  600: #032445,
  700: #021e3c,
  800: #021833,
  900: #010f24,
  A100: #5f8bff,
  A200: #2c66ff,
  A400: #0044f8,
  A700: #003ddf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-taube: (
  50: #f2f4f8,
  100: #dee4ee,
  200: #c9d2e3,
  300: #b3c0d7,
  400: #a2b3cf,
  500: #92a5c6,
  600: #8a9dc0,
  700: #7f93b9,
  800: #758ab1,
  900: #6379a4,
  A100: #ffffff,
  A200: #e2ecff,
  A400: #afc9ff,
  A700: #96b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-nebel: (
  50: #fdfdfe,
  100: #f9fbfd,
  200: #f6f8fb,
  300: #f2f5f9,
  400: #eff2f8,
  500: #ecf0f7,
  600: #eaeef6,
  700: #e7ecf5,
  800: #e4e9f3,
  900: #dfe5f1,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rki-primary: mat.define-palette($md-royalblue); //mat.define-palette(mat.$indigo-palette);
$rki-accent: mat.define-palette($md-marine);
$rki-taube: mat.define-palette($md-taube);
$rki-nebel: mat.define-palette($md-nebel);
// The warn palette is optional (defaults to red).
$rki-warn: mat.define-palette(mat.$red-palette);

