<div class="privacy-page" [class.small]="isSmall$ | async">
  <h1>Datenschutzerklärung</h1>

  <h2>
    Verantwortlicher gemäß <abbr title="Artikel">Art.</abbr> 4 <abbr title="Nummer">Nr.</abbr> 7 <abbr
      title="Europäische Union">EU</abbr> Datenschutz-Grundverordnung (DSGVO) und Bundesdatenschutzgesetz (BDSG):
  </h2>

  <address>
    <strong>Robert Koch-Institut</strong><br>
    Nordufer 20<br>
    13353 Berlin<br>
  </address>
  <p>
    vertreten durch den Präsidenten <abbr title="Professor">Prof.</abbr> <abbr title="Doktor">Dr.</abbr> Schaade
  </p>

  <p>
    <strong>Kontakt: </strong><br>
    Robert Koch-Institut<br>
    Presse und Öffentlichkeitsarbeit<br>
    Nordufer 20<br>
    13353 Berlin<br>
    Telefon: 030 18754 0<br>
    Fax: 030 18754 2328<br>
    Kontaktformular: <a href="https://www.rki.de/SharedDocs/Kontaktformulare/Z/Zentrale/Integrator.html" target="_blank"
      rel="noopener noreferrer" title="Externer Link Kontaktformular RKI (Öffnet neues Fenster)">Kontaktformular
      RKI-Webseite</a><br>
    Homepage: <a href="https://www.rki.de" target="_blank" rel="noopener noreferrer"
      title="Startseite des Robert Koch-Instituts (Öffnet neues Fenster)">www.rki.de</a>
  </p>

  <h2>
    Datenschutzbeauftragte
  </h2>

  <p>
    Unsere Datenschutzbeauftragte erreichen Sie unter den <abbr title="oben genannten">o.g.</abbr> Kontaktdaten sowie
    unter der E-Mail:
    <a href="mailto:datenschutz@rki.de" title="E-Mail: datenschutz@rki.de">datenschutz@rki.de</a>
  </p>

  <h2>
    Allgemeines zur Datenverarbeitung
  </h2>

  <p>
    Das Robert Koch-Institut (RKI) stellt Forschungsdaten und Informationen über Github.com -
    <a href="https://github.com/robert-koch-institut" target="_blank" rel="noopener noreferrer"
      title="Externer Link Github RKI (Öffnet neues Fenster)">https://github.com/robert-koch-institut</a> -
    bereit. GitHub Inc. (GitHub) bietet mit Github-Pages einen Service an der
    es ermöglich Webseiten zu hosten und der vom RKI genutzt wird um individuelle Websites zu erstellen. Die von GitHub
    gehosteten Webseiten des RKIs sind unter der Domain <i>"https://robert-koch-institut.github.io/"</i> erreichbar.
  </p>

  <p>
    Der Schutz personenbezogener Daten ist dem <abbr title="Robert Koch-Institut">RKI</abbr> ein sehr wichtiges
    Anliegen. Das Robert Koch-Institut unterliegt als Bundesbehörde den Bestimmungen der EU Datenschutz-Grundverordnung
    (DSGVO) und des Bundesdatenschutzgesetzes (BDSG).
  </p>

  <p>
    Personenbezogene Daten sind Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen.
    Hierunter fallen Angaben, die Rückschlüsse auf Ihre Identität ermöglichen. Weitere Definitionen der verwendeten
    Begriffe (<abbr title="zum Beispiel">z.B.</abbr> "Verarbeitung") finden Sie in <abbr title="Artikel">Art.</abbr> 4
    <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>.
  </p>

  <p>
    Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser
    Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen, sich die Datenschutzerklärung in regelmäßigen
    Abständen wieder durchzulesen.
  </p>

  <p>
    Bei der Nutzung der <abbr title="oben genannten">o.g.</abbr> Seiten verarbeitet das <abbr
      title="Robert Koch-Institut">RKI</abbr> selbst keine personenbezogenen Daten. Auch ist die Nutzung der
    Seite ohne die Bekanntgabe personenbezogener Daten gegenüber dem <abbr title="Robert Koch-Institut">RKI</abbr>
    möglich. Allerdings erhebt unserer Hostingdienstleister beim Aufruf dieser Seiten technische Daten von Ihnen.
  </p>

  <h3>
    Technische Bereitstellung der Webseite, Statistik und Cookies
  </h3>

  <p>Wie oben beschrieben, erfolgen das Hosting und der Betrieb der Webseiten durch:</p>

  <p>
    Github Inc. <br>
    88 Colin P Kelly Jr St <br>
    San Francisco <br>
    CA 94107, USA
  </p>

  <p>
    Kontakt: <a href="https://support.github.com/request" target="_blank" rel="noopener noreferrer"
      title="Externer Link Github Kontakt (Öffnet neues Fenster)">https://support.github.com/request</a>
    Homepage: <a href="https://github.com" target="_blank" rel="noopener noreferrer"
      title="Externer Link Github Startseite (Öffnet neues Fenster)">https://github.com</a>
    Datenschutz: <a href="https://support.github.com/contact/privacy" target="_blank" rel="noopener noreferrer"
      title="Externer Link Github Datenschutz (Öffnet neues Fenster)">https://support.github.com/contact/privacy</a>
  </p>

  <p>
    Für die technische Infrastruktur und die Bereitstellung der Dienste verarbeitet GitHub beim Aufruf der Webseiten
    technisch notwendige Informationen. Das bedeutet, dass beim Zugriff auf die vom RKI gehosteten Github-Pages u.a.
    folgende Informationen zu Ihrer Nutzung des Diensts und zur Interaktion Ihres Geräts mit dem Dienst durch Github in
    Logfiles erhoben werden können, die Ihr Browser automatisch übersendet:
  </p>

  <ul>
    <li>Datum und Uhrzeit des Zugriffs</li>
    <li>die aufgerufene Website</li>
    <li>die vorher besuchte Webseite, von der aus der Zugriff erfolgt</li>
    <li>die IP-Adresse</li>
    <li>Informationen zu Ihrem Gerät (<abbr title="beispielsweise">bspw.</abbr>: Gerätetyp und -ID)</li>
    <li>Der genutzte Webbrowser und Betriebssystem</li>
    <li>Informationen, die in Ihren Beiträgen zu einzelnen Repositorys enthalten sind oder sich auf diese beziehen</li>
    <li>Telemetriedaten (also Informationen zur Leistung eines bestimmten Features oder Diensts) hinsichtlich Ihrer
      Nutzung anderer Features und Funktionen des Diensts</li>
  </ul>

  <p>
    Github verwendet die erhobenen Daten, um seinen Dienst bereitzustellen, zu pflegen, analysieren, verwalten und zu
    betreiben.
  </p>

  <p>
    Die Datenverarbeitung dieser Zugriffsdaten ist erforderlich, um den Besuch dieser Website zu ermöglichen und um die
    dauerhafte Funktionsfähigkeit und Sicherheit der Systeme zu gewährleisten. Rechtsgrundlage ist <abbr
      title="Artikel">Art.</abbr> 6 <abbr title="Absatz">Abs.</abbr> 1 <abbr title="Seite">S.</abbr> 1 <abbr
      title="litera">lit.</abbr> b <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>.
  </p>

  <p>Nach erreichen des o.g. Zwecks, werden diese Daten wieder gelöscht.</p>

  <p>
    Weitere Informationen zum Umgang mit Nutzer:innendaten durch Github finden Sie in der Datenschutzerklärung von
    GitHub unter <a href="https://docs.github.com/de/site-policy/privacy-policies/github-privacy-statement"
      target="_blank" rel="noopener noreferrer" title="Externer Link Github Datenschutz (Öffnet neues Fenster)">GitHub
      Privacy Policy</a>.
  </p>

  <h2>
    Datenübermittlung in Drittländer
  </h2>

  <p>
    Die <abbr title="oben genannten">o.g.</abbr> Datenverarbeitungen erfolgen durch unseren Hosting-Anbieter Github mit
    Sitz in San Francisco, USA. Die Serverstandeorte befinden sich ebenfalls in den USA. Das heißt, dass die <abbr
      title="oben genannten">o.g.</abbr>.
    Verarbeitungen auch dort erfolgen können. Dabei handelt es sich um ein <abbr title="sogenanntes">sog.</abbr>
    Drittland außerhalb des europäischen
    Wirtschaftsraums (EWR). Dabei haben wir mit Github <abbr title="sogenannte">sog.</abbr> Standarddatenschutzklauseln
    der Europäischen Union (<abbr title="Artikel">Art.</abbr> 46 <abbr title="Absatz">Abs.</abbr> 2 <abbr
      title="litera">lit.</abbr> c <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>) geschlossen. Sie das Recht,
    eine Kopie der "Standarddatenschutzklauseln" anzufordern.
  </p>

  <h2>
    Betroffenenrechte
  </h2>

  <p>
    Soweit wir personenbezogene Daten von Ihnen verarbeiten, stehen Ihnen folgende Datenschutzrechte zu:
  </p>

  <ul>
    <li>das Recht, jederzeit Auskunft über die Verarbeitung Ihrer personenbezogenen Daten zu erhalten (<abbr
        title="Artikel">Art.</abbr> 15 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht auf Berichtigung unrichtiger Daten oder Vervollständigung lückenhafter Daten (<abbr
        title="Artikel">Art.</abbr> 16 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht, Daten nach den gesetzlichen Vorgaben löschen oder in der Verarbeitung einschränken zu lassen (z.B.
      bei Widerruf Ihrer Einwilligung oder unrechtmäßiger Verarbeitung) (<abbr title="Artikel">Art.</abbr> 17, 18 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht, bei einer auf Einwilligung beruhenden Datenverarbeitung Ihre Einwilligung jederzeit mit Wirkung für
      die Zukunft zu widerrufen (<abbr title="Artikel">Art.</abbr> 7 <abbr title="Absatz">Abs.</abbr> 3 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht auf Datenübertragbarkeit (Sie können eine Übersicht Ihrer Daten in einem elektronischen Format zur
      Verfügung gestellt bekommen) (<abbr title="Artikel">Art.</abbr> 20 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht auf Widerspruch gegen die Datenverarbeitung, die aus Gründen eines berechtigten Interesses des <abbr
        title="Robert Koch-Institut">RKI</abbr>, für die Wahrnehmung von öffentlichen Aufgaben oder in Ausübung
      öffentlicher Gewalt erfolgt (<abbr title="Artikel">Art.</abbr> 21 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>),</li>
    <li>das Recht, den Datenschutzbeauftragten des <abbr title="Robert Koch-Institut">RKI</abbr> zu kontaktieren und Ihr
      Anliegen vorzubringen (<abbr title="Artikel">Art.</abbr> 38 <abbr title="Absatz">Abs.</abbr> 4 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>) und</li>
    <li>das Recht, sich bei der zuständigen Aufsichtsbehörde für den Datenschutz zu beschweren, (Der Bundesbeauftragte
      für Datenschutz und Informationssicherheit, Husarenstr. 30 - 53117 Bonn, <a href="tel:+49 (0)228-997799-0">+49
        (0)228-997799-0</a>,
      <a href="http://www.bfdi.bund.de" target="_blank" rel="noopener noreferrer" title="Externer Link Bundesbeauftragte
      für Datenschutz und Informationssicherheit (Öffnet neues Fenster)">http://www.bfdi.bund.de</a>) (<abbr
        title="Artikel">Art.</abbr> 77 <abbr title="Absatz">Abs.</abbr> 1 <abbr
        title="Datenschutz-Grundverordnung">DSGVO</abbr>).
    </li>
  </ul>

  <p>
    Berlin, 10. Oktober 2023
  </p>
</div>
