@import '/src/constants.scss';

:host {
  display: block;
  flex: 1;
  max-width: 100%;
}

@mixin privacy-page-component($theme) {
  .privacy-page {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    padding: 0 $default-section-margin-horizontal $default-section-margin-vertical $default-section-margin-horizontal;
  }

  .privacy-page.small {
    padding: 0 $default-small-section-margin-horizontal $default-small-section-margin-vertical
      $default-small-section-margin-horizontal;

  }
}
