<div class="privacy-page" [class.small]="isSmall$ | async">
    <h1 class="mat-headline">Dateschutz</h1>
    <a class="nav-to-root" routerLink="/">zurück zum Datensatz</a>

    <h2 class="mat-title">
        Verantwortlicher gemäß <abbr title="Artikel">Art.</abbr> 4 <abbr title="Nummer">Nr.</abbr> 7 <abbr
            title="Europäische Union">EU</abbr> Datenschutz-Grundverordnung (DSGVO) und Bundesdatenschutzgesetz
        (BDSG)
    </h2>

    <address>
        <strong>Robert Koch-Institut</strong><br>
        Nordufer 20<br>
        13353 Berlin<br>
    </address>
    <p>
        vertreten durch den Präsidenten <abbr title="Professor">Prof.</abbr> Dr. L. H. Wieler
    </p>

    <p>
        <strong>Kontakt: </strong><br>
        Robert Koch-Institut<br>
        Presse und Öffentlichkeitsarbeit<br>
        Nordufer 20<br>
        13353 Berlin<br>
        Telefon: 030 18754 0<br>
        Fax: 030 18754 2328<br>
        E-Mail: <a href="https://www.rki.de/SiteGlobals/Forms/Presse/PresseIntegrator.html?nn=4976162"
            title="Presse">Presse</a><br>
        Homepage: <a href="https://www.rki.de/DE/Home/homepage_node.html"
            title="Startseite des Robert Koch-Instituts">www.rki.de</a>
    </p>

    <p>
        <strong>Datenschutzbeauftragte</strong><br>
        Claudia Enge<br>
        E-Mail: <a
            href="https://www.rki.de/SharedDocs/Kontaktformulare/D/Datenschutz/DatenschutzIntegrator.html?nn=4976162"
            title="Datenschutz">Datenschutz</a>
    </p>

    <p>
        <strong>Hosting und Betrieb:</strong><br>
        Github<br>
        <a href="https://www.github.com" target="_blank" rel="noopener noreferrer"
            title="Externer&nbsp;Link&nbsp;Github&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">www.github.com</a>
    </p>

    <p>
        <strong>Realisierung:</strong><br>
        <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MFI/MF4/mf4_node.html" target="_blank"
            rel="noopener noreferrer" title="Externer&nbsp;Link&nbsp;MF&nbsp;4&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">
            MF 4 - Forschungsdatenmanagement
        </a>
    </p>

    <p>
        <strong>Design:</strong><br>
        <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MFI/MF4/mf4_node.html" target="_blank"
            rel="noopener noreferrer" title="Externer&nbsp;Link&nbsp;MF&nbsp;4&nbsp;(Öffnet&nbsp;neues&nbsp;Fenster)">
            MF 4 - Forschungsdatenmanagement
        </a>
    </p>


    <h2 class="mat-title">Allgemeines zur Datenverarbeitung</h2>
    <h3 class="mat-subheading-2">Umfang der Verarbeitung personenbezogener Daten</h3>
    <p>
        Der Schutz personenbezogener Daten ist dem Robert Koch-Institut (RKI) ein sehr wichtiges Anliegen. Das Robert
        Koch-Institut unterliegt als Bundesbehörde den Bestimmungen der EU Datenschutz-Grundverordnung (DSGVO) und des
        Bundesdatenschutzgesetzes (BDSG). Die Nutzung des Webangebotes des RKI (www.rki.de) ist grundsätzlich ohne
        Bekanntgabe personenbezogener Daten möglich. Bei der Nutzung von Kontaktformularen, Newslettern, Internen
        Bereichen und bei der telefonischen Kontaktaufnahme mit dem RKI werden personenbezogene Daten verarbeitet. Eine
        automatisierte Entscheidungsfindung (<abbr title="sogenannt">sog.</abbr> Profiling) findet nicht statt.
    </p>

    <p>
        Personenbezogene Daten sind Informationen, die sich auf eine identifizierte oder identifizierbare Person
        beziehen. Hierunter fallen Angaben, die Rückschlüsse auf Ihre Identität ermöglichen. Weitere Definitionen der
        verwendeten Begriffe (<abbr title="zum Beispiel">z.B.</abbr>“Verarbeitung”) finden Sie in Art. 4 DSGVO.
    </p>

    <p>
        Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser
        Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen, sich die Datenschutzerklärung in
        regelmäßigen Abständen wieder durchzulesen.
    </p>

    <h3 class="mat-subheading-2">Speicherdauer</h3>

    <p>
        Die Speicherung erfolgt im Einklang mit der Richtlinie für das Bearbeiten und Verwaltung von Schriftgut in
        Bundesministerien, die im RKI als Registraturrichtlinie (RegR) umgesetzt ist.
    </p>

    <h2 class="mat-title">Technische Bereitstellung der Webseite, Statistik und Cookies</h2>

    <p>
        Diese Internetseiten werden vom Informationstechnikzentrum Bund (ITZBund), als <abbr
            title="Informationstechnik">IT</abbr>-Dienstleister für Bundesbehörden, gehostet. Das ITZBund erstellt für
        die bei ihm gehosteten Internetauftritte Nutzungsstatistiken. Eingesetzt wird hierfür das Programm Matomo
        (vormals PIWIK). Die Datenschutzerklärung des ITZBund finden Sie <a
            href="https://www.itzbund.de/DE/Service/Datenschutz/datenschutz_node.html#doc6692bodyText1" target="_blank"
            rel="noopener noreferrer"
            title="Externer Link&nbsp;Datenschutz Informationstechnikzentrum Bund (ITZBund) (Öffnet&nbsp;neues&nbsp;Fenster)">hier</a>.
    </p>

    <p>
        Das Robert Koch-Institut erhält vom ITZBund Auswertungen über die Nutzung des Internetangebotes www.rki.de.
        Diese
        Auswertungen enthalten keine personenbezogenen Daten. Das Robert Koch-Institut nutzt diese Auswertungen
        ausschließlich zur Analyse, Pflege und Verbesserung seines Internetauftritts.
    </p>
    <h3 class="mat-subheading-2">Aufrufen der Webseite</h3>

    <p>
        Bei jeder Nutzung dieser Website sendet Ihr Browser automatisch bestimmte Zugriffsdaten, die nur pseudonymisiert
        verarbeitet werden. Diese Zugriffsdaten umfassen insbesondere:
    </p>

    <ul>
        <li>Datum und Uhrzeit des Zugriffs</li>
        <li>Name der angeforderten Datei</li>
        <li>Webseite, von der aus die Datei angefordert wurde</li>
        <li>Zugriffsstatus (z. B. Datei übertragen, Datei nicht gefunden)</li>
        <li>der von Ihnen verwendete Webbrowser und das Betriebssystem Ihres Gerätes</li>
        <li>die <abbr title="Internet Protocol">IP</abbr>-Adresse des anfordernden Gerätes</li>
        <li>Online-Kennungen (z. B. Gerätekennungen, Session-<abbr title="Identifikationsnummer">ID</abbr>s).</li>
    </ul>

    <p>
        Die Datenverarbeitung dieser Zugriffsdaten ist erforderlich, um den Besuch dieser Website zu ermöglichen und um
        die dauerhafte Funktionsfähigkeit und Sicherheit unserer Systeme zu gewährleisten. Rechtsgrundlage ist Art. 6
        Abs. 1 S. 1 lit. b DSGVO.
    </p>
    <h2 class="mat-title">Matomo</h2>

    <p>
        Matomo verwendet sogenannte "Cookies", das sind kleine Textdateien,
        die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Internetseiten durch Sie
        ermöglichen. Diese "Sitzungs-Cookies" (session cookies) werden nur
        temporär auf Ihrem Computer gespeichert, sobald der Webbrowser geschlossen wird, werden diese wieder gelöscht.
        Die durch den Cookie erzeugten Informationen über Ihre Benutzung unseres Internetangebotes werden auf einem
        Server des Anbieters in Deutschland gespeichert und ausschließlich durch das ITZBund ausgewertet. Erfasste Daten
        werden nicht an Dritte weitergegeben und dienen lediglich der Identifikation und Verbesserung relevanter Inhalte
        unseres Internetangebotes.
    </p>

    <p>
        Bei jedem Zugriff eines Nutzers auf das Internet-Angebot des RKI und bei jedem Abruf einer Datei müssen Daten
        über diesen Vorgang vorübergehend in einer Protokolldatei verarbeitet werden. Ihre IP-Adresse wird in den
        Zugriffslogs der Webserver unserer Hosting-Plattform weder erfasst noch gespeichert. Matomo ist nach den
        Empfehlungen des Unabhängigen Landeszentrums für Datenschutz (ULD) Schleswig-Holstein konfiguriert und folgt den
        geltenden Datenschutzbestimmungen.
    </p>

    <p>Im Einzelnen werden über jeden Zugriff / Abruf folgende Daten verarbeitet:</p>

    <ul>
        <li>Datum und Uhrzeit des Abruf (Zeitstempel)</li>
        <li>Anfragedetails und Zieladresse (Protokollversion, <abbr
                title="Hypertext Transfer Protocol">HTTP</abbr>-Methode, Referer, UserAgent-String)</li>
        <li>Name der abgerufenen Datei und übertragene Datenmenge (angefragte <abbr
                title="Uniform Resource Locator">URL</abbr> <abbr title="inklusive">inkl.</abbr>Query-String, Größe in
            Byte)</li>
        <li>Meldung, ob der Abruf erfolgreich war (HTTP Status Code)</li>
    </ul>

    <p>Diese Daten werden vom ITZBund 30 Tage vorgehalten.</p>

    <p>
        Beim Aufruf einzelner Seiten werden so genannte temporäre Cookies verwendet, um die Navigation zu erleichtern.
        Diese Session Cookies beinhalten keine personenbezogenen Daten und
        verfallen nach Ablauf der Sitzung. Techniken, wie zum Beispiel Java-Applets oder Active-X-Controls, die
        es ermöglichen, das Zugriffsverhalten der Nutzer nachzuvollziehen, werden nicht eingesetzt.
    </p>

    <p><strong>Widerruf der Datenerfassung durch Matomo</strong></p>

    <p>
        Matomo unterstützt das "Nicht-Verfolgen-Verfahren" ("<span lang="en-GB" xml:lang="en-GB">Do Not Track</span>")
        aktueller Webbrowser. Wenn Sie die Analyse Ihres Verhaltens im Internet generell unterbinden wollen, empfehlen
        wir Ihnen, diese Option in Ihrem Browser zu aktivieren.
    </p>

    <h2 class="mat-title">Elektronische Korrespondenz</h2>

    <p>
        Das Internetangebot www.rki.de bietet die Möglichkeit, mit Mitarbeitern des Instituts Kontakt aufzunehmen,
        Mitteilungen abzusetzen, Anfragen zu stellen oder sich über Themen der öffentlichen Gesundheit zu informieren
        (durch öffentlich zugängliche Seiten, Anmeldung für interne Seiten (Fachöffentlichkeit) oder Zusendung von
        Newslettern).
    </p>

    <p>
        In der Regel verwenden wir hierfür Formulare. Die Pflichtfelder der Formulare wurden aus Gründen des
        Datenschutzes auf das zur Beantwortung von Anfragen notwendige Mindestmaß begrenzt. Die von Ihnen dabei
        übermittelten personenbezogenen Daten werden ausschließlich dazu verwendet, um Ihre Anfrage zu beantworten, den
        Zugang für interne Bereiche zu ermöglichen bzw. Ihnen den gewünschten Newsletter zuzusenden. Sie werden nicht an
        Dritte weitergegeben und nicht für sonstige eigene Zwecke genutzt. Ihre Angaben werden durch eine „Secure Socket
        Layer“-Verbindung (SSL) verschlüsselt übertragen, so dass
        Unbefugte diese nicht einsehen können (https-Verbindung).
    </p>
    <h3 class="mat-subheading-2">Kontaktformulare</h3>

    <p>
        In E-Mail-Kontaktformularen erheben wir folgende Datenkategorien: <br>
        Pflichtfeld und automatisch erhobene Daten: Vorname und Nachname, E-Mail, Betreff, Nachrichtentext, Datum und
        Uhrzeit des Formularversands<br>
        Freiwillige Angabe: Telefonnummer, Faxnummer, Institution, Straße, PLZ, Wohnort
    </p>

    <p>
        Bei Bestellformularen erheben wir folgende Datenkategorien, um den Versand zu gewährleisten:<br>
        Pflichtfeld und automatisch erhobene Daten: Anrede, Name, Straße, PLZ, Wohnort, E-Mail, Bestellte Ware, Datum
        und Uhrzeit des Formularversands<br>
        Freiwillige Angaben: Vorname, Firma, Abteilung, Land, Mitteilung
    </p>

    <p>
        Die Aufbewahrung von Anfragen in elektronischer Form erfolgt gemäß den für die Aufbewahrung von Schriftgut
        geltenden Fristen der Registraturrichtlinie des RKI – basierend auf der Registraturrichtlinie für das Bearbeiten
        und Verwalten von Schriftgut in Bundesministerien, welche die Gemeinsame Geschäftsordnung der Bundesministerien
        (GGO) ergänzt.
    </p>

    <p>
        Die Verarbeitung Ihrer Daten beruht auf Ihrer Einwilligung, Vertrag (bei Bestellungen) und den im öffentlichen
        Interesse liegenden Aufgaben des RKI (Art. 6 Abs.1lit.a, lit. b, lit. e DSGVO i.V.m. § 2, § 4 BGA-NachfG),
        insbesondere der Information der Öffentlichkeit. Sie können Ihre Einwilligung zur weiteren Verarbeitung
        jederzeit mit Wirkung für die Zukunft widerrufen. Stehen der Löschung Aufbewahrungsfristen entgegen, werden die
        Daten in der Verarbeitung beschränkt. Weitere Informationen finden Sie im Abschnitt „<a
            href="https://www.rki.de/DE/Service/Datenschutz/datenschutzerklaerung_inhalt.html?nn=4976162#d"
            title="Datenschutzerklärung des Robert Koch-Instituts">Ihre Datenschutzrechte</a>“.
    </p>
    <h3 class="mat-subheading-2">Newsletter</h3>

    <p>
        Im Falle von Newsletter-Abonnements werden für die Dauer des Abonnements Ihre E-Mail-Adresse und das
        Anmeldedatum
        gespeichert. Die Rechtsgrundlage der Verarbeitung Ihrer Daten ist Ihre Einwilligung bei der Bestellung des
        jeweiligen Newsletters (Art. 6 Abs.1 lit. a DSGVO).
    </p>

    <p>
        Nach der Anmeldung zum Empfang des Newsletters erhalten Sie eine automatisch generierte Bestätigungsnachricht.
        Die Anmeldung wird erst dann abgeschlossen, wenn Sie den in der E-Mail enthaltenen Bestätigungslink anklicken
        (<span lang="en-GB" xml:lang="en-GB">Double-Opt-In</span>-Verfahren), um einer unberechtigten Anmeldung Ihrer
        E-Mail-Adresse vorzubeugen. Bei Beendigung Ihres Abonnements werden Ihre Daten gelöscht. Die Abmeldung und somit
        der Widerruf Ihrer Einwilligung für die weitere Verarbeitung sind jederzeit möglich, zum Beispiel durch das
        Klicken des Links zur Abmeldung am Ende jeder E-Mail oder gesonderte E-Mail an die Redaktion. Weitere
        Informationen finden Sie im Abschnitt „<a
            href="https://www.rki.de/DE/Service/Datenschutz/datenschutzerklaerung_inhalt.html?nn=4976162#d"
            title="Datenschutzerklärung des Robert Koch-Instituts">Ihre Datenschutzrechte</a>“.
    </p>
    <h3 class="mat-subheading-2">Interne Bereiche (für Fachpublikum)</h3>

    <p>
        Bei einem personalisierten Zugang zu einem internen Bereich innerhalb von www.rki.de werden die E-Mail-Adresse
        und das persönliche Passwort sicher gespeichert. Die Rechtsgrundlage der Verarbeitung Ihrer Daten ist Ihre
        Einwilligung bei der Anmeldung zum jeweiligen internen Bereich (Art. 6 Abs.1 lit. a DSGVO). Sie können Ihre
        Einwilligung zur weiteren Verarbeitung jederzeit mit Wirkung für die Zukunft widerrufen. Bei Abmeldung werden
        Ihre Daten gelöscht. Weitere Informationen finden Sie im Abschnitt „<a
            href="https://www.rki.de/DE/Service/Datenschutz/datenschutzerklaerung_inhalt.html?nn=4976162#d"
            title="Datenschutzerklärung des Robert Koch-Instituts">Ihre Datenschutzrechte</a>“.
    </p>

    <p>
        Für andere geschlossene Bereiche innerhalb von www.rki.de teilt das RKI Nutzername und Passwort mit, diese Daten
        sind nicht personenbezogen.
    </p>

    <p>Der Login wird nicht ausgewertet.</p>
    <h3 class="mat-subheading-2">Kontaktaufnahme per Telefon/Fax</h3>

    <p>
        Sie können ebenfalls unter den angegebenen Telefon- und Faxnummern erreichen. In diesem Fall werden folgende
        Datenkategorien gespeichert:
    </p>

    <p>
        a) Telefonanruf: Name, Rufnummer, alle inhaltlichen Angaben <br>
        b) Telefax: Absender, Name , Gerätenummer, Uhrzeit der Übertragung, inhaltliche Angaben
    </p>

    <p>
        Die Aufbewahrung erfolgt bei Telefonaten in der Regel durch einen Telefonvermerk, bei Telefaxen durch
        Aufbewahrung des Ausdrucks. Die Speicherdauer richtet sich nach der für die Aufbewahrung von Schriftgut
        geltenden Fristen der Registraturrichtlinie des RKI – basierend auf der Registraturrichtlinie für das Bearbeiten
        und Verwalten von Schriftgut in Bundesministerien, welche die Gemeinsame Geschäftsordnung der Bundesministerien
        (GGO) ergänzt.
    </p>

    <p>
        Die Verarbeitung Ihrer Daten beruht auf Ihrer Einwilligung (Art. 6 Abs.1lit.a DSGVO). Sie können Ihre
        Einwilligung zur weiteren Verarbeitung jederzeit mit Wirkung für die Zukunft widerrufen. Stehen der Löschung
        Aufbewahrungsfristen entgegen, werden die Daten in der Verarbeitung beschränkt. Weitere Informationen finden Sie
        im Abschnitt „<a href="https://www.rki.de/DE/Service/Datenschutz/datenschutzerklaerung_inhalt.html?nn=4976162#d"
            title="Datenschutzerklärung des Robert Koch-Instituts">Ihre Datenschutzrechte</a>“.
    </p>
    <h2 class="mat-title">Datenübermittlung in Drittländer</h2>

    <p>
        Wie in dieser Datenschutzerklärung erläutert, setzen wir Dienste (z. B. Verlinkungen zu unseren Auftritten in
        sozialen Medien) ein, deren Anbieter teilweise in sogenannten Drittländern (wie den USA) sitzen, also Ländern,
        deren Datenschutzniveau nicht dem der Europäischen Union entspricht. Soweit dies der Fall ist und die
        Europäische Kommission für diese Länder keinen Angemessenheitsbeschluss (Art. 45 DSGVO) erlassen hat, haben wir
        entsprechende Vorkehrungen getroffen, um ein angemessenes Datenschutzniveau für etwaige Datenübertragungen zu
        gewährleisten. Hierzu zählen insbesondere die Standarddatenschutzklauseln der Europäischen Union (Art. 46 Abs.2
        lit. c DSGVO) einschließlich – je nach Fall - ergänzender Klauseln, die zusätzliche Schutzmaßnahmen enthalten.
        In einem solchen Fall haben Sie das Recht, eine Kopie der „Standarddatenschutzklauseln“ anzufordern.
    </p>

    <p>
        Sofern eine Drittstaatenübermittlung stattfindet und kein Angemessenheitsbeschluss oder geeignete Garantien
        vorliegen, ist es möglich und besteht das Risiko, dass Behörden im jeweiligen Drittland (z.B. Geheimdienste)
        Zugriff auf die übermittelten Daten erlangen können, um diese zu erfassen und zu analysieren, und dass eine
        Durchsetzbarkeit Ihrer Betroffenenrechte nicht gewährleistet werden kann."
    </p>
    <h2 class="mat-title">Ihre Datenschutzrechte (Rechte der betroffenen Person)</h2>

    <p>Soweit wir personenbezogene Daten von Ihnen verarbeiten, stehen Ihnen folgende Datenschutzrechte zu:</p>

    <ul>
        <li>das Recht, jederzeit Auskunft über die Verarbeitung Ihrer personenbezogenen Daten zu erhalten (Art. 15
            DSGVO),</li>
        <li>das Recht auf Berichtigung unrichtiger Daten oder Vervollständigung lückenhafter Daten (Art. 16 DSGVO),</li>
        <li>das Recht, Daten nach den gesetzlichen Vorgaben löschen oder in der Verarbeitung einschränken zu lassen
            (z.B. bei Widerruf Ihrer Einwilligung oder unrechtmäßiger Verarbeitung) (Art. 17, 18 DSGVO),</li>
        <li>das Recht, bei einer auf Einwilligung beruhenden Datenverarbeitung Ihre Einwilligung jederzeit mit Wirkung
            für die Zukunft zu widerrufen (Art. 7 Abs. 3 DSGVO),</li>
        <li>das Recht auf Datenübertragbarkeit (Sie können eine Übersicht Ihrer Daten in einem elektronischen Format zur
            Verfügung gestellt bekommen) (Art. 20 DSGVO),</li>
        <li>das Recht auf Widerspruch gegen die Datenverarbeitung, die aus Gründen eines berechtigten Interesses des
            RKI, für die Wahrnehmung von öffentlichen Aufgaben oder in Ausübung öffentlicher Gewalt erfolgt (Art. 21
            DSGVO)</li>
        <li>das Recht, die <a
                href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/Datenschutz/Datenschutz_node.html"
                title="Datenschutzbeauftragte">Datenschutzbeauftragte des RKI</a> zu kontaktieren und Ihr Anliegen
            vorzubringen (Art. 38 Abs. 4 DSGVO) und</li>
        <li>das Recht, sich bei der zuständigen Aufsichtsbehörde für den Datenschutz zu beschweren, (Der
            Bundesbeauftragte für den Datenschutz und die Informationsfreiheit, Graurheindorfer Str. 153 - 53117 Bonn,
            +49 (0)228-997799-0, E-Mail: poststelle(at)bfdi.bund.de, <a href="https://www.bfdi.bund.de/"
                title="Externer Link&nbsp;Die Bundesbeauftragte für Datenschutz und Informationssicherheit">https://www.bfdi.bund.de</a>)
            (Art. 77 Abs. 1 DSGVO).</li>
    </ul>
    <h2 class="mat-title">Inhalte anderweitiger Anbieter</h2>

    <p>
        Die Internetseiten www.rki.de enthalten Links zu anderen Websites. Bei allen Seiten wurden Links zu Inhalten von
        Internetseiten Dritter ("fremden Inhalten") durch das Robert Koch-Institut (RKI) (Redaktion) nach bestem Wissen
        und unter Beachtung größtmöglicher Sorgfalt erstellt. Sie vermitteln lediglich den Zugang zu "fremden Inhalten".
        Dabei wurde auf die Vertrauenswürdigkeit dritter Anbieter und die Fehlerfreiheit sowie Rechtmäßigkeit der
        "fremden Inhalte" besonders geachtet.
    </p>

    <p>
        Da jedoch der Inhalt von Internetseiten dynamisch ist und sich jederzeit ändern kann, ist eine stetige
        Einzelfallprüfung sämtlicher Inhalte, auf die ein Link erstellt wurde, nicht in jedem Fall möglich. Das RKI
        macht sich deshalb den Inhalt von Internetseiten Dritter, die mit der eigenen Internetpräsenz verlinkt sind,
        insoweit ausdrücklich nicht zu Eigen. Für Schäden und Rechtsverletzungen aus der Nutzung oder Nichtnutzung
        "fremder Inhalte" haftet ausschließlich der jeweilige Anbieter der Seite, auf die verwiesen wurde.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
        hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
        Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
        umgehend entfernen.
    </p>

    <p>
        Das RKI kontrolliert nicht und hat keinen Einfluss darauf, dass deren Betreiber die Datenschutzbestimmungen
        einhalten.
    </p>
    <h2 class="mat-title">Soziale Medien</h2>

    <p>
        Das RKI nimmt die derzeitige Diskussion um den Datenschutz in sozialen Netzwerken sehr ernst. Es ist gegenwärtig
        rechtlich nicht abschließend geklärt, ob und inwieweit alle Netzwerke ihre Dienste im Einklang mit europäischen
        datenschutzrechtlichen Bestimmungen anbieten.
    </p>

    <p>
        Wir machen daher ausdrücklich darauf aufmerksam, dass die seitens des RKI genutzten Dienste Twitter, Instagram
        und YouTube die Daten ihrer Nutzerinnen und Nutzer (z.B. persönliche Informationen, IP-Adresse) entsprechend
        ihrer Datenverwendungsrichtlinien abspeichern und für geschäftliche Zwecke nutzen.
    </p>

    <p>
        Das RKI hat keinen Einfluss auf die Datenerhebung und deren weitere Verwendung durch die sozialen Netzwerke. So
        bestehen keine Erkenntnisse darüber, in welchem Umfang, an welchem Ort und für welche Dauer die Daten
        gespeichert werden, inwieweit die Netzwerke bestehenden Löschpflichten nachkommen, welche Auswertungen und
        Verknüpfungen mit den Daten vorgenommen werden und an wen die Daten weitergegeben werden.
    </p>
    <h2 class="mat-title">Eigene Inhalte</h2>

    <p>
        Soweit die auf diesen Seiten eingestellten Inhalte Rechtsvorschriften, amtliche Hinweise, Empfehlungen oder
        Auskünfte enthalten, sind sie nach bestem Wissen und unter Beachtung größtmöglicher Sorgfalt erstellt. Bei
        Unstimmigkeiten gilt jedoch ausschließlich die aktuelle amtliche Fassung, wie sie im dafür vorgesehenen
        amtlichen Verkündungsorgan veröffentlicht ist. Etwaige rechtliche Hinweise, Empfehlungen und Auskünfte sind
        unverbindlich. Eine Rechtsberatung findet nicht statt.
    </p>

    <p>
        Das Robert Koch-Institut haftet nicht für Schäden bzw. Rechtsverletzungen, die durch die Nutzung oder
        Nichtnutzung angebotener Informationen entstehen.
    </p>
    <h2 class="mat-title">Fehlermeldungen</h2>

    <p>
        Die Redaktion bittet die Nutzer von www.rki.de, auf rechtswidrige oder fehlerhafte Inhalte Dritter, zu denen in
        der Internetpräsenz ein Link unterhalten wird, aufmerksam zu machen. Ebenso wird um eine Nachricht unter der
        angegebenen Kontaktadresse gebeten, wenn eigene Inhalte nicht fehlerfrei, aktuell, vollständig oder verständlich
        sind.
    </p>
    <h2 class="mat-title">Urheberrecht</h2>

    <p>
        Das Copyright für Texte und Bilder liegt bei eigenen Inhalten beim Robert Koch-Institut. Auf dem Portal zur
        Verfügung gestellte Texte, Textteile, Grafiken, Tabellen oder Bildmaterialien dürfen, soweit diese
        urheberrechtlich geschützt sind, ohne vorherige Zustimmung des Robert Koch-Instituts nicht vervielfältigt, nicht
        verbreitet und nicht ausgestellt werden.
    </p>

    <p>
        Kontakt zur Internetredaktion: <a
            href="https://www.rki.de/SiteGlobals/Forms/Webmaster/WebmasterIntegrator.html?nn=4976162"
            title="Webmaster">E-Mail</a>
    </p>

    <p>
        Kontakt zum Datenschutzbeauftragtem: <a href="https://www.rki.de/datenschutzbeauftragte.html?nn=4976162"
            title="datenschutzbeauftragte">www.rki.de/datenschutzbeauftragter</a>
    </p>

    <p>Stand: 07.09.2022</p>
</div>